{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>

</style>

<div class="container">
{% for book in books %}
    <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ book.name }}</h5>
        <p class="card-text">{{ book.synopsis }}</p>
        <a href="#" class="btn btn-primary">En savoir plus</a>
    </div>
    </div>
        
    {% endfor %}
</div>
{% endblock %}
